*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.btn{
    color: white;
    font-size: 10px;
    background-color: #4A4A4A;
    padding: 5px;
    border-radius: 3px;
}

/* utility */

button{
    all: unset;
    cursor: pointer;
}

.padding{
    padding: 5px;
}

/* main */


.container-main{
    height: calc(85vh - 20px);
    width: 100vw;
    margin-bottom: 20px;
    overflow: auto;
}

.row-main{
    display: flex;
    width: 90vw;
    height: calc(100% / 5 - 10px);
    margin: 10px auto;
}

.col-main{
    position: relative;
    display: flex;
    width: calc(100% / 7 - 4px);
    margin: 0 2px;
}

.position-absolute{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(236, 236, 236, 0.2);
    font-size: 11px;
    color: white;
    padding: 3px;
}

.col-main img{
    width: 100%;
}

/* footer */

.container-footer{
    background-color: #222222;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 70px;
}

.row-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-footer{
    
    display: flex;
}

.content-footer .icons i, p, span{
    color: white;
}

.icons, .fa{
    margin: 0 5px;
}

.icons{
    padding: 0 4px;
}

.content-footer > span{
    margin: 10px 8px;
}

.content-footer-end{
    padding: 24px 18px;
    background-color: #4A4A4A;
}

/* utility footer */

.font-color{
    color: red;
    font-size: 10px;
}

.margin-bottom{
    margin-bottom: 10px;
}

.font-size{
    font-size: 20px;
}

.font-size-sm{
    font-size: 10px;
}

.margin-left{
    margin-left: 15px;
}

